@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");

body{ font-size:62.5%; }
#rwpage{ width:960px; margin-left:30px; font-size:1.4em; font-family:sans-serif; }

.rwnav{ margin-top:10px; border-bottom:1px solid #dddddd; height:15px; }

#rwleft-panel{ float:left; text-align:left; width:175px; padding-top:15px; border-right:1px solid #dddddd; }

.rwbuttons{ margin-left:1em; position:fixed; top:40px; left:205px; }

  .rwbutton{ width:70px; height:70px; cursor:pointer;
           margin-bottom:2em; position:relative;
           text-align:center; }
  .rwlike{ background-image:url('square-button-899ab6.png'); color:#30151e; } .rwoutcome_2{ color:#899ab6; }
  .rwskip{ background-image:url('square-button-30151e.png'); color:#899ab6; } .rwoutcome_1{ color:#30151e; }
  .rwoutcome_icon{ float:right; margin-right:0.2em; margin-left:0.5em; width:16px; height:24px; font-size:75%;}

#rwcontent{ float:left; margin-left:90px; width:679px; padding-left:1em; padding-top:5px; margin-bottom:1em; padding-bottom:2em; border-bottom:1px solid #dddddd; }

  #rwpost-wrapper{ }
  #rwfeedback-wrapper{ float:right; margin-top:10px; }

  .rwpost{ font-size:1.4em; margin-bottom:1em; line-height:1.4; text-align:left; }



a{ text-decoration:none; }
a:hover{ text-decoration:underline; }
td{ vertical-align:top; }

b,strong,h1,h2,h3,h4,h5,h6{ font-weight:bold; }
i,em{ font-style:italic; }
blockquote{ margin:1em; }
p{ margin-top:1em; }



.rwfrontpage { margin-top:2em; font-size:1.6em; margin-left:auto;margin-right:auto; }
.rwlogo{ color:#dddddd; text-align:center; }
.rwlogo-button, a.rwlogo-button, a.rwlogo-button:visited {
  display:inline; text-align:center; font-family:Georgia,serif; font-weight:bold; color:#666666; }
.rwlogo .rwlogo-button { font-size:4em; color:#777777; }

h2.rwtitle a{ font-family:serif; font-size:2em; color:#66e; }
.rwsubtitle{ font-style:italic; margin-top:0.5em; margin-bottom:1em; }
.rwpost-body{ margin-top:2em; }

.rwflash{ background:#eeeeee; padding-top:2px; padding-bottom:2px; }
.rwdebug{ text-align:right; color:#dddddd; }

.rwdate{ font-style:italic; font-size:80%; float:right; }

.rwfeedback_link{ text-align:right; margin-left:1em; }
.rwfeedback_link a{ color:#88c; }
#rwfeedback{ z-index:1000; float:right margin-top:0.5em; margin-left:0.5em; padding:5px; border:1px solid #dddddd; background:#fff; }



#rwleft-panel b{ color:#999999; }
#rwhistory .rwitem{ margin-top:1em; margin-bottom:1em; }
#rwhistory a{ font-size:90%; }

.rwvlist{ margin-bottom:1em; padding-bottom:1em; }

.rwpaginate{ color:#aaf; margin:1em; font-style:italic; text-align:center; font-size:10px; }
.rwpaginate a{ color:#66f; }

.rwprogress{ margin-left:1em; float:left; height:1em; border:1px solid #888; }
.rwprogress_filled{ float:left; height:1em; background-color:#888; }

a .rwbookmark_icon{ font-size:10px; color:#aaaaaa; }
a:hover .rwbookmark_icon{ font-size:10px; color:#aaaaaa; }

.rwclear{ clear:both; }
