@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");

/* http://colorschemedesigner.com/#4Z41TfLqFw0w0 */
body{ font-size:62.5%; height:100%; }
#rwbody{ background:#8c6988/*#934b8a*/; min-height:100%; }

#rwscrollpage{ width:770px; margin:0 auto; min-height:100%; font-size:1.4em; line-height:1.4; font-family:sans-serif; }

  #rwscrollcontent{ width:750px; }

    .rwscrollpost-wrapper{ float:left; background:white; }
      .rwscrollpost{ padding:10px; width:750px; text-align:left; }
      * html .rwscrollpost{ width:auto; }

#rwflashpage{ width:890px; margin:0 auto; min-height:100%; font-size:1.4em; line-height:1.4; font-family:sans-serif; }

  #rwflashprefetch{ display:none; }
  #rwflashcontent{ width:870px; }

    #rwflashbuttons{ position:fixed; top:65px; width:120px; background:white; padding-top:10px; padding-bottom:10px;
            /*IE*/ float:left; }

    .rwflashpost-wrapper{ float:left; margin-left:120px; background:white; }
      .rwflashpost{ padding:10px; width:750px; min-height:450px; text-align:left; overflow:hidden; }
      * html .rwflashpost{ width:auto; }

#rwnav{ height:25px; padding:10px; background:white; }



a{ text-decoration:none; }
a:hover{ text-decoration:underline; }
span.link{ color:#0000ee; cursor:pointer; }
span.link:hover{ text-decoration:underline; }
td{ vertical-align:top; }

b,strong,h1,h2,h3,h4,h5,h6{ font-weight:bold; }
i,em{ font-style:italic; }
blockquote{ margin:1em; }
p{ margin-top:1em; }
img{ max-width:595px; }



.rwscrollbutton{ height:35px; width:35px; cursor:pointer; margin-right:1em; }

div.rwscrolllike{ background:transparent url('like-small.png') 0px 0px no-repeat; }
div.rwscrolllike:hover { background:transparent url('like-small.png') 0px -35px no-repeat; }
div.rwscrolllike:active { background:transparent url('like-small.png') 0px -70px no-repeat; }

div.rwscrollskip{ background:transparent url('skip-small.png') 0px 0px no-repeat; }
div.rwscrollskip:hover { background:transparent url('skip-small.png') 0px -35px no-repeat; }
div.rwscrollskip:active { background:transparent url('skip-small.png') 0px -70px no-repeat; }

.rwflashbutton{ height:70px; cursor:pointer; position:relative; width:80px; margin-left:25px; margin-bottom:10px; }

div.rwflashlike{ background:transparent url('like.png') 0px 0px no-repeat; }
div.rwflashlike:hover { background:transparent url('like.png') 0px -70px no-repeat; }
div.rwflashlike:active { background:transparent url('like.png') 0px -140px no-repeat; }

div.rwflashnext{ background:transparent url('next.png') 0px 0px no-repeat; }
div.rwflashnext:hover { background:transparent url('next.png') 0px -70px no-repeat; }
div.rwflashnext:active { background:transparent url('next.png') 0px -140px no-repeat; }

div.rwflashskip{ background:transparent url('skip.png') 0px 0px no-repeat; }
div.rwflashskip:hover { background:transparent url('skip.png') 0px -70px no-repeat; }
div.rwflashskip:active { background:transparent url('skip.png') 0px -140px no-repeat; }



#rwnav{color:#915c69; }
#rwnav a{color:#915c69; }

h2.rwtitle a{ font-family:serif; font-size:1.15em; font-weight:bold; color:#66e; }
.rwsharebutton{ margin-left:5px; cursor:pointer; }
.rwsubtitle{ font-style:italic; margin-top:0.5em; margin-bottom:1em; }
.rwdate{ font-style:italic; margin-right:3em; display:inline; }
.rwcollapsed{ max-height:20em; overflow:hidden; }

.rwclear{ clear:both; }
.rwsep{ height:20px; }
.rwgutter{ width:20px; height:5px; }

.rwshadow {
  background: white;
  box-shadow: 2px 2px 10px #333;
  -moz-box-shadow: 2px 2px 10px #333;
  -webkit-box-shadow: 2px 2px 10px #333;
}
.rwbutton-shadow {
  background: white;
  box-shadow: -2px 2px 8px #444;
  -moz-box-shadow: -2px 2px 8px #444;
  -webkit-box-shadow: -2px 2px 8px #444;
}
.rwrounded {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.rwrounded-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
}
.rwrounded-bottom {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
